<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8" />
	<title>ABERTURA DE CHAMADOS</title>
	<link rel="stylesheet" type="text/css" href="C:\Users\Elcionei\MeuProjeto\tcc\css\style.css">
</head>

<body>
	<header id="header">
		<div id="logo">
			<img src="C:\Users\Elcionei\MeuProjeto\tcc\imagens\logo.png">
			<h1>SISTEMA DE CHAMADOS</h1>
			<h2>ABERTURA DE CHAMADOS</h2>
		</div>
		<section id="login">
			<p>Logado como <label>Administrador</label></p>
			<button><img src="C:\Users\Elcionei\MeuProjeto\tcc\imagens\sair.jpg"></button>
		</section>
	</header>
	<nav id="nav">
		<ul id="navigation">
			<li><a href="#">Início</a></li>
			<li><a href="#">Cadastros</a></li>
			<li><a href="#">Chamados</a></li>
			<li><a href="#">Pessoal</a></li>
			<li><a href="#">Mensagens</a></li>
		</ul>
	</nav>
	<main id="content">
		<section id="section-left">
			<div id="historico">

			</div>
		</section>

		<section id="section-right">
			<table id="table-os">
				<thead>
					<tr>
						<td>Descrição</td>
						<td>Prioridade</td>
						<td>Status</td>
						<td>Data</td>
						<td>Autor</td>
					</tr>
				</thead>

				<tfoot>
					<tr>
						<td>Desenvolvido por Elcionei: </td>
						<td>projeto de formação em Sistemas de Informação</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
				</tfoot>
			</table>
		</section>
	</main>
</body>

</html>