<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<title>Tela de Logim do Usuario</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="C:\Users\Elcionei\MeuProjeto\tcc\css\style.css">
	</head>
	<body>
		<section id="login">
			<header id="header-login">
				<img src="img/cadeado.png" />
				<h1>Login de Acesso</h1>
			</header>
			<form id="content-login" method="post" action="?go=cadastrar">
				<label>Usuario:</label>
				<input type="text" name="login" maxlength="50" placeholder="Login/Email" /><br/>

				<label>Senha:</label>
				<input type="password" name="senha" maxlength="50" placeholder="Senha" /><br/>

				<button id="botao-login" type="submit">Entrar</button>
			</form>
		</section>
	</body>
</html>